html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*general*/
.book-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
    color: hotpink;
    background-color: darkviolet;
}

.book-item {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

#title {
    font-size: 20px;
}

/*authors and categories*/
.select-heading {
    font-size: 20px;
    font-weight: 600;
    color:hotpink;
}

.select-items {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    background-color:darkviolet;
}
/*//hejhej*/