@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="book-grid">
            @foreach (var book in Model.Books)
            {
                <div class="book-item">
                    <p id="title">@book.Title</p>
                    <p>Pages: @book.Pages</p>
                    <p>Year: @book.ReleaseDate</p>
                </div>
            }
        </div>
    </div>
</body>
</html>
